<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>
    {{ title }}
    <span class="subheadder">
      powered by Flip
    </span>
  </span>
  <span class="toolbar-space"></span>
  <nav>
  <a mat-flat-button color="primary" routerLink="/info" routerLinkActive="active">Information</a>
  <a mat-flat-button color="primary" routerLink="/notification" routerLinkActive="active">Notification</a>
  </nav>
</mat-toolbar>
<div class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>