.container {
    display: flex;
    justify-content: center;
}

.content {
    padding: 48pt;
    width: 700pt;
}

.subheadder{
    font-size: x-small;
    color: #ffffff;
    text-decoration: none;
}

.toolbar-space{
    flex: 1 1 auto;
}