.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('https://i.giphy.com/media/5xaOcLGaiDkwNQjBwju/giphy.webp');
}

.button-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
}

.stepTitle {
    font-size: 15pt;
}

.stepContent {
    word-wrap: break-word;
    width: 300px;
    margin-bottom: 12pt;
    font-size: 12pt;
}

.timeline-container {
    // border-style: groove;
    max-width: 350px;
    // margin: 0px;
}

.testControlButton {
    margin: 6pt;
}

