<div class="container">
    <h1>Notification</h1>

    <!--
<button mat-raised-button color="primary" (click)="onGenerateToken()">Generate Firebase Cloud Messaging Token</button>
<p> Notification Permission Granted: {{ permissionGranted }} </p>
<p> Your Firebase Cloud Messaging Token:</p>
<p>{{ fcmToken }} </p>
<button mat-raised-button color="primary" (click)="onPublishLocalNotification()">Publish Local Notification from Webapp</button>
<p></p>
-->
    <div class="button-container">
        <button mat-raised-button class="testControlButton" color="primary" (click)="onStartTestClick()">Start
            Test</button>
        <button mat-raised-button class="testControlButton" color="accent" (click)="onResetTestClick()">Reset
            Test</button>
    </div>
    <ul class="clr-timeline clr-timeline-vertical timeline-container">
        <li class="clr-timeline-step step" *ngFor="let step of testSteps">
            <ng-container *ngIf="step.done; then done else notDone"></ng-container>
            <ng-template #done>
                <ng-container *ngIf="step.error; then error else noError"></ng-container>
                <ng-template #error>
                    <clr-icon shape="error-standard" aria-label="Error"></clr-icon>
                </ng-template>
                <ng-template #noError>
                    <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
                </ng-template>
            </ng-template>
            <ng-template #notDone>
                <ng-container *ngIf="step.inProgress; then inProgress else notInProgress"></ng-container>
                <ng-template #inProgress>
                    <clr-spinner clrMedium aria-label="In progress">Fetching data</clr-spinner>
                </ng-template>
                <ng-template #notInProgress>
                    <clr-icon shape="circle" aria-label="Not started"></clr-icon>
                </ng-template>
            </ng-template>
            <div class="clr-timeline-step-body">
                <span class="clr-timeline-step-title stepTitle">{{ step.title }}</span>
                <span class="clr-timeline-step-description stepContent">{{ step.description }}</span>
                <span class="clr-timeline-step-description stepContent"
                    *ngIf="step.done && !step.error">{{ step.onSuccessMessage }}</span>
                <span class="clr-timeline-step-description stepContent"
                    *ngIf="step.done && step.error">{{ step.onErrorMessage }}</span>
                <div class="clr-timeline-step-description stepContent" *ngIf="step.done && step.result">Result
                    Data: {{ step.result }}</div>
            </div>
        </li>
    </ul>
</div>