.step {
    
}

.stepTitle {
    font-size: 15pt;
}

.stepContent {
    max-width: 400pt;
    margin-bottom: 12pt;
    font-size: 12pt;
}

.testControlButton {
    margin: 6pt;
}

.wrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }