@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/pink-bluegrey";

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Lato, "Helvetica Neue", sans-serif;
    background-image: url('https://cdn.discordapp.com/avatars/689009547737563146/fa0a992574ee5676609e1f64af92b9bb.png?size=2048');
    background-size: contain;   
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
    color: pink;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
    color: pink;
}

$my-app-primary: mat-palette($mat-blue-grey);

$mat-myapp-primary: (
    50: #e0e5ff,
    100: #b3beff,
    200: #8093ff,
    300: #4d67ff,
    400: #2647ff,
    500: #0026ff,
    600: #0022ff,
    700: #001cff,
    800: #0017ff,
    900: #000dff,
    A100: #ffffff,
    A200: #f2f3ff,
    A400: #bfc1ff,
    A700: #a6a7ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$mat-myapp-accent: (
    50: #ffe2e0,
    100: #ffb7b3,
    200: #ff8780,
    300: #ff574d,
    400: #ff3326,
    500: #ff0f00,
    600: #ff0d00,
    700: #ff0b00,
    800: #ff0800,
    900: #ff0400,
    A100: #ffffff,
    A200: #fff2f2,
    A400: #ffbfbf,
    A700: #ffa6a6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
