.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url('https://i.giphy.com/media/5xaOcLGaiDkwNQjBwju/giphy.webp');
}

.table-container {
    width: 48%;
    min-width: 300px;
}

.table {
    width: 100%;
}

.mat-header-row {
    background-color: pink;
}

.mat-row {
    background-color: pink;
}

@media (max-width: 770px) {
    .container {
        flex-direction: column;
    }
    .table-container {
        width: 100%;
    }
}
